<div class="snippet">
    <div class="snippet-header">
        <div class="title-row">
            <h2 class="snippet-name">
                <%= item.tap_num %>. <%= item.name %>
            </h2>
            <span class="abv-badge">
                <%= item.abv %>% ABV
            </span>
        </div>
        <div class="snippet-subtitle">
            <div class="producer">
                <%= item.brewery %>, <%= item.country %>
            </div>
            <div class="snippet-style">
                <%= item.style %>
            </div>
        </div>
    </div>
    <div class="snippet-content">
        <div class="snippet-image">
            <% if(item.image_name){ %>
                <img src="/img/<%= item.image_name %>.webp" alt="<%= item.name %>" />
                <% } else if (item.image_url) { %>
                    <img src="<%= item.image_url %>" alt="<%= item.name %>" />
                    <% } else { %>
                        <div class="placeholder"><i class="fas fa-beer"></i></div>
                        <% } %>
        </div>
        <div class="snippet-details">
            <p class="snippet-description">
                <%= item.description %>
            </p>
            <div class="snippet-prices">
                <div class="price-option">
                    <div class="size-price">
                        <span class="size">0.33 l:</span>
                        <span class="price">
                            <%= item.price_small %> RSD
                        </span>
                        <span class="size">0.5 l:</span>
                        <span class="price">
                            <%= item.price_big %> RSD
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>