<div class="snippet">
    <div class="snippet-header">
        <div class="title-row">
            <h2 class="snippet-name">
                <% if(item.tap_num) { %>
                    <%= item.tap_num %>. <%= item.name %>
                            <% } else { %>
                                <%= item.name %>
                                    <% } %>
            </h2>
            <span class="abv-badge">
                <%= item.abv.toFixed(1) %>% ABV
                    <% if(item.ibu) { %>| <%= item.ibu %> IBU<% } %>
            </span>
        </div>
        <div class="snippet-subtitle">
            <div class="producer">
                <%= item.brewery %>, <%= item.country %>
            </div>
            <div class="snippet-style">
                <%= item.style %>
            </div>
        </div>
    </div>
    <div class="snippet-content">
        <div class="snippet-image">
            <% if(item.image_name){ %>
                <img src="/img/<%= item.image_name %>.webp" alt="<%= item.name %>" />
                <% } else if (item.image_url) { %>
                    <img src="<%= item.image_url %>" alt="<%= item.name %>" />
                    <% } else { %>
                        <div class="placeholder"><i class="fas fa-beer"></i></div>
                        <% } %>
        </div>
        <div class="snippet-details">
            <p class="snippet-description">
                <%= item.description %>
            </p>
            <% if(item.rating) { %>
                <div class="circle-rating" style="--rating: <%= item.rating.toFixed(1) %>">
                    <div class="circles">● ● ● ● ●</div>
                    <div><span class="value">
                            <%= item.rating.toFixed(2) %>
                        </span><span class="rating-label">/5</span></div>
                </div>
                <% } %>
                    <div class="snippet-prices">
                        <div class="price-option">
                            <div class="size-price">
                                <% if(item.price_small) { %>
                                    <span class="size">0.33 l:</span>
                                    <span class="price">
                                        <%= item.price_small %> RSD
                                    </span>
                                    <% } %>
                                        <% if(item.price_big) { %>
                                            <span class="size">0.5 l:</span>
                                            <span class="price">
                                                <%= item.price_big %> RSD
                                            </span>
                                            <% } %>
                                                <% if(!item.price_small && !item.price_big) { %>
                                                    <span class="size">Please ask the bartender for price details</span>
                                                    <% } %>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>