<!DOCTYPE html>
<html lang="en">

<head>
    <% if (process.env.NODE_ENV==='production' ) { %>
        <%- partials.gtag %>
    <% } %>
    <%- partials.head %>
    <meta property="og:updated_time" content="<%= new Date().toISOString() %>" />
</head>

<body>
    <div class="overlay"
        style="background-color:#333; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;">
    </div>
    <div class="container">
        <%- partials.header %>
        <%- include('partials/ld-json', {beers: beers}) %>
        <div class="grid">
            <% if (beers.data && beers.data.length> 0) { %>
                <% beers.data.forEach(beer=> { %>
                    <%- include('partials/snippet', {item: beer}); %>
                <% }) %>
            <% } else { %>
                <p>No beers available at the moment. Please check back later!</p>
            <% } %>
        </div>
    </div>
    <%- partials.footer %>
</body>

</html>